body{
    margin: 0;
}
section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    background-color: #FECDCD;
    width: 100vw;
    height: 80px;
    position: fixed;
    z-index: 1;
}
a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
header a{
    text-decoration: none;
    color: white;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
#header{
    text-align: center;
    margin: 30px;
}
#inicio{
    min-height: 100vh;
    background-color: #FECDCD;
}
#inicio p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 36vw;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
#iniciotexto{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#informacoesinicio{
    flex-direction: column;
}
#informacoesinicio button{
    width: 18vw;
    height: 8vh;
    color: white;
    background-color: #FBB4C1;
    border-color: #FBB4C1;
    border: none;
    box-shadow: 5px 5px #F996B5;
    transition: background 1s;
}
#informacoesinicio button:hover{
    cursor: pointer;
    background-color: #f8a9b8;
    box-shadow: 5px 5px #f17fa3;
}
@font-face {
    font-family: porky;
    src: url(../fonte/PORKYS_.TTF);
}
h1{
    font-size: 70px;
    font-family: porky;
    margin: 0;
    color: white;
    text-shadow: 5px 5px #F996B5;
}
#img1{
    max-height: 100vh;
    width: 700px;
      transition: transform 0.6s;
      transform-style: preserve-3d;
}
#img1:hover{
    transition: 0.9s;
    transform: rotateY(180deg);
}
#sobremim, #projetos{
    background-color: #A3F4A3;
}
#informacoesmim{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FECDCD;
    height: 70vh;
    width: 90vw;
    box-shadow: 5px 5px #FBB4C1;
}
#textosobremim{
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    margin: 20px;
    text-align: center;
}
#textosobremim p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    margin-top: 40px;
    color: white;
}
#textosobremim h2{
    margin: 0;
    font-family: porky;
    color: white;
    font-size: 45px;
    text-shadow: 3px 3px 4px #F996B5;
}
#fotomim{
    display: flex;
    justify-content: right;

}
#img2{
    width: 500px;
}
#habilidades{
    text-align: center;
    background-color: #A3F4A3;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/imagem\ fundo.png);
    background-size: contain;
}
#habilidades h2{
    font-family: porky;
    font-size: 55px;
    color: white;
    margin-bottom: 100px;
    text-shadow: 5px 5px #8FEB91;
}
#habilidadesicon img{
    width: 150px;
    margin: 40px;
}
#habilidadesicon #htmlicon{
    width: 210px;
    margin-right: 0;
}
#projetosmim{
    border: solid 3px pink;
    margin: 30px;
    display: flex;
    justify-content: center;
}
#projetosmim img{
    width: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cardprojeto{
    border: solid 3px black;
    width: 25vw;
    min-height: 60vh;
    margin: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}
#cardprojeto img{
    margin-bottom: 60px;
    border-radius: 5px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FECDCD;
    height: 90px;
}
#botoesfooter{
    position: absolute;
    margin-left: 1200px;
}
#botoesfooter img{
    width: 30px;
    margin-left: 10px;
}